* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* CORES */
  --blueGray900: #0f172a;
  --amber300: #fcd34d;
  --amber600: #D97706;
  --amber900: #78350f;

  /* FONTES */
  --font-family: "Roboto", sans-serif;

  --h1: 800 4.5rem/1.1 var(--font-family);
  --h2: 800 2.625rem/1.1 var(--font-family);
  --span-tittle: 800 1.25rem var(--font-family);
  --body: 500 1.125rem/1.6 var(--font-family);
  --button: 500 1rem/1.5 var(--font-family);
}

body {
  font-family: var(--font-family);
  overflow-x: hidden;
  & h1 {
    font: var(--h1);
    color: var(--blueGray900);
  }
  & p {
    font: var(--body);
    color: var(--blueGray900);
  }
}

@media (width < 62.5rem) {
  body {
    & h1 {
      font-size: 3.5rem;
    }
    & p {
      font: var(--body);
     
    }
  }
}
