header {
  display: flex;
  justify-content: space-between;
  padding-block: 1.5rem;
  position: absolute;
  top: 0;
  margin-left: 20px;
  & > :nth-child(1) {
    display: flex;
    gap: 2.5rem;
    align-items: center;
    & ul {
      list-style: none;
      display: flex;
      gap: 1rem;
      align-items: center;
      font: var(--button);
      & li {
        padding: 0.75rem 0.5rem;
      }
    }
  }
  & > :nth-child(2) {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding-inline: 0.5rem;
    padding-block: 0.75rem;
  }
}
@media (width < 62.5rem) {
  header {
    padding-block: 1rem;
    margin-left: .5rem;
    & > :nth-child(1) {
      & ul { 
        display: none;
      }
    }
    & > :nth-child(2) {
      display: none;
    }
    & img{
      padding-right: 1rem;
    }
  }
}
