#section-neutral {
  background-color: var(--purple900);
  
  & .header-tittle {
    display: flex;
    justify-content: space-between;
    & span {
      color: var(--amber300);
    }
    & h2 {
      margin-block: 0.5rem 1.5rem;
    }
    & h2,
    p {
      color: white;
    }
    & button {
      margin-block: auto;
    }
  }

  & .sn-boxs {
    margin-block: 5rem;
    display: flex;
    gap: 1.5rem;
    & .sn-box {
      background-color: white;
      max-width: 364px;
      padding: 2rem;
      border-radius: 10px;
      & p {
        margin-block: 1rem;
      }
    }
  }
}

@media (width < 1000px) {
  #section-neutral {
    & .header-tittle {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 1.5rem;
      & button {
        width: 60%;
      }
    }

    & .sn-boxs {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      & .sn-box {
        max-width: 100%;
      }
    }
  }
}
