#section-secondary {
  position: relative;
  & .header-tittle {
    text-align: center;
    margin: auto;
    width: 50%;
    margin-bottom: 5rem;
  }

  & .ss-img {
    display: flex;
    justify-content: center;
    & img {
      width: 83%;
    }
  }

  & .ellipse {
    & .ellipse-yellow {
      position: absolute;
      left: -15%;
      top: 16%;
      z-index: -1;
    }

    & .ellipse-purple {
      position: absolute;
      right: -15%;
      bottom: 20%;
      z-index: -2;
    }

    & .ellipse-yellow-small {
      position: absolute;
      right: 10%;
      bottom: 25%;
      z-index: 1;
    }
    & .ellipse-purple-small {
      position: absolute;
      left: 10%;
      bottom: 25%;
      z-index: 1;
    }
  }
}

@media (width < 1000px) {
  #section-secondary {
    padding-block: 5rem;
    position: relative;
    & > :nth-child(2) {
      & img {
        width: 100%;
      }
    }
    & .header-tittle {
      text-align: center;
      margin: auto;
      width: 100%;
      margin-bottom: 5rem;
    }

    & .ellipse {
      & > :nth-child(1) {
        left: -45%;
        top: 42%;
        & img {
          width: 50%;
        }
      }
      & > :nth-child(2) {
        right: -125%;
        bottom: 15%;
        & img {
          width: 40%;
        }
      }
      & > :nth-child(3) {
        right: -20%;
        bottom: 18%;
        & img {
          width: 40%;
        }
      }

      & > :nth-child(4) {
        position: absolute;
        left: 5%;
        bottom: 20%;
        z-index: 1;
        & img {
          width: 40%;
        }
      }
    }
  }
}
