#section-accent {
  flex-direction: row-reverse;
  gap: 10rem;
  & > :nth-child(1) {
    position: relative;
    & > :nth-child(2) {
      position: absolute;
      right: -120%;
      top: -10%;
      z-index: -1;
    }
  }

}

@media (width < 1000px) {
  #section-accent {
    flex-direction: column-reverse;
    & > :nth-child(1) {
      & img {
        width: 100%;
      }
      & > :nth-child(2) {
        width: 200%;
        left: -110%;
        top: 0;
      }
    }

    & .header-tittle {
      text-align: center;
    }

    & .gap-3 {
      gap: 1.5rem;
    }
  }
}
