#section-primary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  zoom: 125%;

& .sp-col {
  margin-top: 9rem;
  display: flex;
  flex-direction: column;
  gap: 8rem;
  width: 150%;
    & > :nth-child(1) p {
      margin-block: 1.5rem;
    }
    & > :nth-child(2) {
      & p {
        margin-block: 1rem;
      }
      & > div{
        display: flex;
        align-items: center;
        gap: 1rem;
      }
    }
  }
}
