.container {
  padding-inline: 5rem;
  width: 100%;
  margin: auto;
}

.display-mobile {
  display: none;
}

@media (width > 80rem) {
 .container {
   zoom: 125%;
  }
}
@media (width < 52.5rem) {
  .container {
    padding-inline: 1rem;
    width: 100%;
  }
  .display-mobile {
    display: initial;
  }
}

/* botao principal */
.btn-primary {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  border-radius: 2rem;
  border: none;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  background-color: var(--amber300);
  color: var(--amber900);
  font: var(--button);
  letter-spacing: 0.5px;
}

/* propriedades de display flex */
.flex {
  display: flex;
}
.fd-col{
  flex-direction: column;
}
.fd-row{
  flex-direction: row;
}

.gap-3{
  gap: 3rem;
}



.jc-center{
  justify-content: center;
}

.ta-center {
  text-align: center;
}

/* classe de style  */
.header-tittle {
  & span {
    font: var(--span-tittle);
    color: var(--amber600);
  }
  & h2{
    font: var(--h2);
    color: var(--blueGray900);
  }
  
}

@media (width < 100px) {
   & span {
    font: var(--span-tittle);
    color: var(--amber600);
  }
  & h2{
    font: var(--h2);
    color: var(--blueGray900);
  }
  
}

