.container{
padding-inline: 5rem;
width: 100%;
}

.btn-primary{
  display: flex;
  align-items: center;
  gap: .75rem;
  border-radius: 2rem;
  border: none;
  padding: .75rem 1.5rem;
  cursor: pointer;
  background-color: var(--amber300);
  color:var(--amber900);
  font: var(--button);
  letter-spacing: 0.5px;
}