.container {
  padding-inline: 5rem;
  width: 100%;
  margin: auto;
}

@media (width < 52.5rem) {
  .container {
    padding-inline: 1rem;
  }
  .display-mobile {
    display: initial;
  }
}

@media (width >= 120em) and (width <= 160em) {
  .container {
    width: 100%;
    overflow: hidden;
  }
}

@media (width >= 160em) {
  .container {
    width: 120em;
    overflow: hidden;
  }
}

.user-card {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.display-mobile {
  display: none;
}

/* botao principal */
.btn-primary {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  border-radius: 2rem;
  border: none;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  background-color: var(--amber300);
  color: var(--amber900);
  font: var(--button);
  letter-spacing: 0.5px;
}

/* propriedades de display flex */
.flex {
  display: flex;
}
.fd-col {
  flex-direction: column;
}
.fd-row {
  flex-direction: row;
}

.gap-3 {
  gap: 3rem;
}

.jc-center {
  justify-content: center;
}

.ta-center {
  text-align: center;
}

/* classe de style  */
.header-tittle {
  & span {
    font: var(--span-tittle);
    color: var(--amber600);
  }
  & h2 {
    font: var(--h2);
    color: var(--blueGray900);
  }
}

#section-accent,
#section-tertiary {
  & .header-tittle {
    & h2 {
      margin-block: 0.5rem 1.5rem;
    }
    & p {
      margin-bottom: 3rem;
    }
  }
}

& .box {
  display: flex;
  flex-direction: column;
  & img {
    width: 64px;
  }
  & span {
    font: 800 1.5rem/1.1 var(--font-family);
    color: var(--blueGray900);
    margin-block: 1rem;
  }
}

@media (width < 100px) {
  & span {
    font: var(--span-tittle);
    color: var(--amber600);
  }
  & h2 {
    font: var(--h2);
    color: var(--blueGray900);
  }
}
